*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(image/bg1.png);
    min-height: 100vh;
}
.clock{
 width: 350px;
 height: 350px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: url(image/clock.png);
 background-color:#171e25 ;
 background-repeat: no-repeat;
 background-size: cover;
 border:5px solid #c4c2bb;
 border-radius: 50%;
 box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
             inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
             inset 0 15px 15px rgba(0, 0, 0, 0.3);

}
.clock:before{
 content: '';
 position: absolute;
 width: 15px;
 height: 15px;
 background: white;
 border-radius: 50%;   
 z-index: 100000;
}
.clock .hour,
.clock .minute,
.clock .secend{
    position: absolute;
}
.clock .hour, .hr{
    width: 155px;
    height: 180px;
}
.clock .minute, .mn{
    width: 190px;
    height: 230px;
}
.clock .secend,  .sec{
    width: 230px;
    height: 270px;
}
.hr, .mn, .sec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 80px;
    background:rgb(182, 34, 34);
    z-index: 10;
    border-radius: 5px 5px 0 0;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 110px;
    background: white;
    z-index: 11;
    border: 5px 5px 0 0;
}
.sec::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 160px;
    background: white;
    z-index: 12;
    border: 5px 5px 0 0;
}